@import 'variables';

h1{
    font-family: ($h1Font);
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2%;
}

h2{
    font-family: ($recipeTitleFont);
}

li.currentRecipe h2{
    font-size: 3rem;
}

form{
    font-family: ($baseFont);
}

.measurements{
    font-family: ($baseFont);
    font-weight: 800;
    font-size: .8rem;
    letter-spacing: .05rem;
    text-align: right;
    margin-right: 15px;
    line-height: 1rem;
}

.ingredients{
    font-family: ($baseFont);
    font-size: .8rem;
    letter-spacing: .05rem;
    line-height: 1rem;
}

.instructions{
    font-size: .8rem;
    letter-spacing: .05rem;
    line-height: 1rem;
}

li{
    font-family: ($baseFont);
    // font-style: italic; 
}

li p{
    font-family: ($baseFont);
}

footer{
    font-family: ($baseFont);
}