@import 'variables';



i{
    color: ($orange);
    font-family: ($h1Font);
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2%;
    text-shadow: 1px 1px 1px rgba(24, 24, 24, .5);
    display: inline-block;
}

h1{
    font-family: ($h1Font);
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2%;
    color: ($lightgrey);
    text-shadow: 1px 1px 1px rgba(24, 24, 24, .5);
    display: inline-block;
}

h1, i{
    @media(max-width: 612px){
        font-size: 3.5rem;
    }
    @media(max-width: 400px){
        font-size: 2.5rem;
    }
}

h3{
    font-family: ($recipeTitleFont);
    color: ($lightgrey);
    text-shadow: 1px 1px 1px rgba(24, 24, 24, .5);
        @media(max-width: 558px){
            width: 270px;
            margin: 0 auto;
            line-height: 1.4rem;
        }
        @media(max-width: 400px){
            font-size: 0.9rem;
        }

}

h2{
    font-family: ($recipeTitleFont);
}

li.currentRecipe h2{
    font-size: 3rem;
    font-family: ($recipeTitleFont);
        @media(max-width: 590px){
            font-size: 2rem;
        }
        @media(max-width: 320px){
            font-size: 1.7rem;
        }
}

form{
    font-family: ($baseFont);
}

.measurements{
    font-family: ($baseFont);
    font-weight: 800;
    font-size: .8rem;
    letter-spacing: .07rem;
    text-align: right;
    line-height: 1.2rem;
        @media(max-width: 420px){
            font-size: 0.6rem;
        }
        @media(max-width: 320px){
            font-size: 0.5rem;
        }
}

.ingredients{
    font-family: ($baseFont);
    font-size: .8rem;
    letter-spacing: .07rem;
    line-height: 1.2rem;
        @media(max-width: 420px){
            font-size: 0.6rem;
        }
        @media(max-width: 320px){
            font-size: 0.5rem;
        }
}

.instructions{
    font-size: .8rem;
    letter-spacing: .07rem;
    line-height: 1.2rem;
        @media(max-width: 420px){
            font-size: .7rem;
        };
}

li{
    font-family: ($baseFont);
    // font-style: italic; 
}

li p{
    font-family: ($baseFont);
}

footer{
    font-family: ($baseFont);
}