// @import 'variables';

$h1Font:'BioRhyme', serif;
$baseFont:'Cabin', sans-serif;

h1{
    font-family: ($h1Font);
    font-size: 2rem;
}

h2{
    font-family: ($baseFont);
}

form{
    font-family: ($baseFont);
}

.measurements{
    font-family: ($baseFont);
    font-weight: 800;
}

.ingredients{
    font-family: ($baseFont);
}

li{
    font-family: ($baseFont);
    font-style: italic; 
}

li p{
    font-family: ($baseFont);
}

footer{
    font-family: ($baseFont);
}