//FONTS

$h1Font:'Bree Serif', serif;
$recipeTitleFont: 'Patua One', cursive;
$baseFont:'Open Sans', sans-serif;

//COLOURS

$green: #9bc53d;
$yellow: #fde74c;
$red: #e55934;
$orange: #ff8f44;
$blue: #5bafe1;
$lightgrey: #F9F3FD;
$white: #FFFFFF;
$darkgrey: rgb(24, 24, 24);