//FONTS

$h1Font:'Bree Serif', serif;
$recipeTitleFont: 'Patua One', cursive;
// $baseFont:'Open Sans', sans-serif;
$baseFont: 'Roboto', sans-serif;

//COLOURS

$green: #0f7e0b;
$yellow: #fde74c;
$red: #e55934;
$orange: #ff761b;
$blue: #5bafe1;
$lightgrey: #F9F3FD;
$white: #FFFFFF;
$darkgrey: rgb(24, 24, 24);