@import 'setup';
@import 'variables';
@import 'typography';



//GENERAL STYLES

html{
    font-size: 125%;
}

body{
    background: ($yellow);
}

//DROP-DOWN AND CHECKBOX STYLES

form{
    max-width: 100%;
    margin: 5%;
}

select{
    float: left;
    width: 40%;
    // padding: 2%;
}

fieldset{
    float: left;
    width: 40%;
    // padding: 2%;
}

.userChoices{
    background: ($blue);
    color: black;
}

//RECIPE STYLES

.recipes{
    background: ($yellow);
    color: black;
}

ul{
    list-style: none;
}

.hidden {
    display: none;
}

//FOOTER STYLES

footer{
    width: 100%;
    margin-bottom: 0;
    padding: 0.5% 0;
    background: ($blue);
        p{
            display: inline-block;
            text-align: center;
        }
}
