@import 'setup';
@import 'variables';
@import 'typography';

// *{
//     border: 7px solid tomato;
// }

//GENERAL STYLES

html{
    font-size: 125%;
    background: ($lightgrey);
}

body{
    background: ($yellow);
    max-width: 1280px;
    margin: 0 auto;
    height: 100vh;
}

//HEADER STYLES

header{
    padding: 5% 0;
    text-align: center;
}

DROP-DOWN AND CHECKBOX STYLES

form{
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 100%;
    // margin: 5%;
        p{
            display: inline-block;
        }
}

.dropDown{
    width: 40%;
}

.radioButtons{
    width: 40%;
}

.userChoices{
    background: ($green);
    color: ($darkgrey);
}

//RECIPE STYLES

.recipes{
    background: ($orange);
    color: ($darkgrey);
}


.hidden {
    display: none;
}

//GRID STYLES

section.recipes{
    width: 100%;
}

ul.recipePreviews{
    width: 80%;
    margin: 0 auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    list-style-type: none;
    padding: 0;
        li{
            width: 100%;
            // margin: 10px;
                div.recipeTitle{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-height: 60px;
                    min-height: 60px;
                    text-align: center;
                    background-color:($red);
                    padding: 5%;
                }
        }
}

img{
    max-width: 100%;
}

//WHEN FULL RECIPE IS DISPLAYED

.wrapper{
    max-width: 80%;
    margin: 0 auto;
}

li.currentRecipe {
    // background: ($lightgrey);
        .wrapper{
            position: relative;
                div.directions{
                    background: ($lightgrey);
                    padding: 7% 0;
                    display: flex;
                }
        }  
}

button.exit{
    position: absolute;
    right: 0;
    top: 0;
}

li.currentRecipe div.container div.titleAndImage{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-height: 300px;
    margin-top: 40px;
}

li.currentRecipe div.container div.titleAndImage .recipeTitle{
    width: 50%;
        h2{
            width: 300px;
        }
}

li.currentRecipe div.container div.titleAndImage div.imageWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 50%;
    min-height: 300px;
    max-height: 300px;
    // display: none;
    // background: red;
}


li.currentRecipe img{
    // display: none;
    max-width: 100%;
    max-height: inherit;
    // height: auto;
    object-fit: cover;
}

.measurements{
    min-width: 100px;
    // background: ($lightgrey);
}

.ingredients{
    min-width: 150px;
    // background: ($lightgrey);
}

// .instructions{
//     background: white;
// }






//FOOTER STYLES

footer{
    width: 100%;
    margin-bottom: 0;
    padding: 0.5% 0;
    background: ($red);
    text-align: center;
    height: 5vh;
        p{
            display: inline-block;
            text-align: center;
            font-size: 0.8rem;
        }
}
