h1 {
  font-family: "BioRhyme", serif;
  font-size: 2rem;
}

h2 {
  font-family: "Cabin", sans-serif;
}

form {
  font-family: "Cabin", sans-serif;
}

.measurements {
  font-family: "Cabin", sans-serif;
  font-weight: 800;
}

.ingredients {
  font-family: "Cabin", sans-serif;
}

li {
  font-family: "Cabin", sans-serif;
  font-style: italic;
}

li p {
  font-family: "Cabin", sans-serif;
}

footer {
  font-family: "Cabin", sans-serif;
}

html {
  font-size: 125%;
}

body {
  background: #fde74c;
}

form {
  max-width: 100%;
  margin: 5%;
}

select {
  float: left;
  width: 40%;
}

fieldset {
  float: left;
  width: 40%;
}

.userChoices {
  background: #5bafe1;
  color: black;
}

.recipes {
  background: #fde74c;
  color: black;
}

ul {
  list-style: none;
}
